extend ./layouts/common

block content
    .card(style='width: 25rem;')
        img.card-img-top(src='/images/avatar.jpg', alt='Card image cap')
        .card-body
            p.card-text.display-3 #{name}
