extend ../layouts/common

block content
    h1 Create User

    a(href="/users/create") New
    br

    form(action="/users/create" , method = "POST")
        label Name
        input(type="text", name = "name")
        button Create
