extend ../layouts/common

block content
    .container
    h1.display-3 Create Products
    if errors
        each error in errors
            .alert.alert-danger= error
    form(action='/products/create', method='POST')
        .form-group
            label(for='exampleInputName1') Name
            input#exampleInputName1.form-control(type='text', name ="name", value= values ? values.name : "")
        .form-group
            label(for='price') Price
            input#price.form-control(type='number', name ="price", value= values ? values.price : "")
        .form-group
            label(for='description') Description
            input#description.form-control(type='text', name ="description", value= values ? values.description : "")
        //- .form-group 
        //-     label(for='image') Avatar
        //-     input#image.form-control-file(type='file', name ="image")

        button.btn.btn-primary Create

