extend ../layouts/common

block content
    h1.display-3 Products List
    .d-flex.align-items-center
        form.ml-auto(action="/products/searchToList" , method = "GET", class = "d-flex")
            input.mr-1(type="text" , name = "q" , class = "form-control")
            button.btn.btn-primary.mb-3 Search
    .row
        each product in products.docs
            .col-sm-6.col-lg-3
                .card.mb-3
                    img.card-img-top(src="", alt='product image')
                    //- img.card-img-top(src= product.image, alt='product image')
                    .card-body
                        h4.card-title #{product._doc.name}
                        p.card-text #{product._doc.description}
                        h1.display-4 #{product._doc.price}
                        a.btn.btn-primary(href='/cart/add/' + product.id) Add to card
